<div class="provedor">
    <h2 style="vertical-align: inherit;">
            Formulario ingreso provedor
    </h2>
    <form [formGroup]="proveedorForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="Name" style="vertical-align: inherit;">
                Nombre
            </label>
            <input formControlName="Nombre" type="text" class="form-control" id="name"  placeholder vaule required>
        </div>

        <div class="form-group">
            <label for="NIT" style="vertical-align: inherit;">
                NIT
            </label>
            <input formControlName="NIT" type="document" class="form-control" id="NI"   placeholder vaule required>
        </div>
        
        <div class="form-group">
            <label for="emai" style="vertical-align: inherit;">
                Correo
            </label>
            <input formControlName="Correo" type="email" class="form-control" id="email" placeholder vaule required>
        </div>

        <div class="form-group">
            <label for="web" style="vertical-align: inherit;">
                Pagina Web
            </label>
            <input formControlName="PaginaWeb" type="text" class="form-control" id="web" placeholder vaule required>
        </div>

        <div class="form-group">
            <label for="address" style="vertical-align: inherit;">
                Direccion
            </label>
            <input formControlName="Direccion" type="address" class="form-control" id="address" v-model="nuevoempleado.direccion" placeholder vaule required>
        </div>

        <div class="form-group">
            <label for="phone" style="vertical-align: inherit;">
                Telefono
            </label>
            <input formControlName="Telefono" type="Phone" class="form-control" id="Phone" v-model="nuevoempleado.telefono" placeholder vaule required>
        </div>

        
        <div class="col text-center">
            <button class="Btn btn-outline-succes" type="submit" [disabled]="!proveedorForm.valid">
                Guardar
            </button>
        </div>
    </form>
  </div>
