<header>
    <main>
        <div class="d-flex flex-row-reverse">
            <div class="p-2">
                <button type="button" class="boton" id='boton_nav' (click)="mostrar()">Menú</button>
            </div>
            <div class="p-2">
                <button type="button" class="boton" [disabled]="logging.isActive" [routerLink]="['/ingreso']">{{logging.name}}</button>
            </div>
            <div class="p-2">
                <div class="d-flex flex-row-reverse bd-highlight">
                    <div class="p-2 bd-highlight">
                        <a href="http://www.udea.edu.co/wps/portal/udea/web/inicio/investigacion/grupos-investigacion/ingenieria-tecnologia/gibic">
                            <img src="https://img.icons8.com/android/24/000000/university.png"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</header>