
a {
    text-decoration: none;
    background-color: transparent;
}

header {
    background-color: rgb(14, 109, 30);
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,
    Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe 
    UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
main a{
    color: white;
}

.boton{
    background-color: transparent;
    text-decoration: none;
    color: white;
    border: none;
    padding: 10px;
}
@media only screen and (min-width: 575px) {
    #boton_nav {
      display: none;
    }
}