<header>
    <main>
        <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight">
                <a [routerLink]="['/principal']">
                    <img src="https://img.icons8.com/ios/26/000000/g.png"/>
                </a>
            </div>
            <div class="p-2 bd-highlight">
                <a class="nav-link active" [routerLink]="['/ingreso']">Conéctese</a>
            </div>
            <div class="p-2 bd-highlight">
                <a class="nav-link">Actores</a>
            </div>
            <div class="p-2 bd-highlight">
                <a class="nav-link disabled">Series</a>
            </div>
        </div>
    </main>
</header>